
vpath %.in $(SITE_TEMPLATE_PATH)
vpath %.in $(SITE_TEMPLATE_PATH)/systemd
vpath %.local $(TOP)/configure
vpath %.conf $(SITE_TEMPLATE_PATH)
vpath %.bash $(SITE_TEMPLATE_PATH)

include $(TOP)/configure/RULES_FUNC
include $(TOP)/configure/RULES_PATCH
include $(TOP)/configure/RULES_SRC
include $(TOP)/configure/RULES_INSTALL
include $(TOP)/configure/RULES_RUN
include $(TOP)/configure/RULES_SYSTEMD
include $(TOP)/configure/RULES_PROPERTIES
include $(TOP)/configure/RULES_VARS

